
.top-cloud {
    position: absolute;
    top: 50px;
    right: 600px;
  }
  
.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
  }

.bottom-mountain {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }